.idea
_pycache__
**/__pycache__
bin/*
*.exe
.env
.env_master
.env_dev
docker-compose.override.yml
xray-client.json
speech.mp3
*.json
.venv
venv
!config/modules/*.example.json
installed_modules/*
!installed_modules/__init__.py
